* {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

a {
    color: white !important;
}

a:hover > h3 {
    background-color: white !important;
    color: black !important;
}

.section-title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.hr {
    height: 4px; 
    background: black;
}

.header-section {
    height: 100vh;
    color: white;
    z-index:9;
}

.section {
    font-weight: bold;
    font-size: 24px;
}

.about-detail {
    margin-top: 3rem;
    line-height: 1;
}

#profile {
    width: 200px;
    height: 200px;
    border-radius: 141.5px;
    display: block;
    margin: auto;
}

.logo {
    max-width: 250px;
    max-height: 150px;
}

.logo-s {
    max-width: 150px;
    max-height: 100px;
}

.logo-c {
    max-width: 180px;
    max-height: 180px;
    border-radius: 141.5px;
}

.logo-c:hover {
    filter: opacity(0.7) blur(2px);
}

#hobby {
    height: 110vh;
    width: 100vw;
    background-image: url('/static/images/piano-background-faded.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
}

#about {
    height: 100vh;
    width: 100vw;
    background-image: url('/static/images/geometric_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#contact {
    margin-top: 5vh;
}

#white {
    background: white;
}

.bear-bg {
    height: 100vh;
    width: 100vw;
    background-image: url('/static/images/Bearbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute; 
    filter: blur(3px);
    z-index: -1;
    margin: -10px;
}

.page2-bg {
    background-image: url('/static/images/notebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.black-bg {
    background-image: url('/static/images/blackbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    filter: opacity(0.7);
}

@media only screen and (max-width: 600px){
    * {
        font-size: 18px;
    }

    .logo {
        max-width: 100px;
        max-height: 100px;
    }

    .music-ex {
        max-width: 400px;
        max-height: 300px;
    }
}
