<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/ppw.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FadhilP</title>
</head>
<body>
    <div class="bear-bg"></div>
    <div class="container-fluid">
        <div class="row header-section">
            <div class="col-md-4 my-auto">
                <h1 class="ml-5">Hello World, I'm Fadhil</h1>
            </div>
            <div class="col-md-5 my-auto">
                <a id="about_link" href="{% url 'homepage:about' %}"><h3 class="mb-5 ml-5">About_me</h3></a>
                <a id="exp_link" href="{% url 'homepage:skills' %}"><h3 class="mb-5 ml-5">Experience_and_skills</h3></a>
                <a id="hobby_link" href="{% url 'homepage:hobby' %}"><h3 class="mb-5 ml-5">Hobby</h3></a>
                <a id="contact_link" href="{% url 'homepage:contact' %}"><h3 class="mb-5 ml-5">Contact_me</h3></a>
                <a href="{% url 'homepage:music' %}"><h3 class="mb-5 ml-5">How I Arrange</h3></a>
                <a href="{% url 'homepage:schedule' %}"><h3 class="mb-5 ml-5">Schedule</h3></a>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
</body>
</html>