<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/ppw.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FadhilP-Music</title>
</head>
<body>
    <div class=black-bg></div>
    <div class="page2-bg"></div>
    <div class="container-fluid">
        <div class="row header-section">
            <div class="col-md-4 my-auto">
                <h1 class="ml-5">How I Arrange</h1>
            </div>
            <div class="col-md-3 my-auto">
                <a id="home_link" href="{% url 'homepage:home' %}"><h3 class="mb-5 ml-5">Home</h3></a>
                <a id="sw_link" href="#sw"><h3 class="mb-5 ml-5">Software</h3></a>
                <a id="ins_link" href="#ins"><h3 class="mb-5 ml-5">Inspiration</h3></a>
                <a id="style_link" href="#style"><h3 class="mb-5 ml-5">Style</h3></a>
            </div>
        </div>
        <div id="sw" class="row section">
            <div class="col-md-6 offset-md-3 my-auto text-center">
                <h3 class="mt-5 section-title">Software</h3>
                <hr class="hr" />
                <a href="https://musescore.org/en/download" target="_blank"><img class="logo-c mt-5" src="{% static 'images/musescore_logo.png' %}"></a>
                <div class="about-detail">
                    <p>I use Musescore 3 to make the sheets of my arrangements</p>
                </div>
            </div>
        </div>
        <div id="ins" class="row section">
            <div class="col-md-6 offset-md-3">
                <h3 class="mt-5 section-title">Inspirations</h3>
                <hr class="hr mb-5" />
            </div>
            <div class="col-md-3 offset-md-1 text-center">
                <a href="https://www.youtube.com/user/Animenzzz" target="_blank"><img class="logo-c mt-5 mb-5" src="{% static 'images/animenz.jpeg' %}"></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://www.youtube.com/channel/UCSqAgjHIy36gnSTBvG3tltw" target="_blank"><img class="logo-c mt-5 mb-5" src="{% static 'images/james-chou.jpg' %}"></a>
            </div>
            <div class="col-md-3 text-center">
                <a href="https://www.youtube.com/channel/UCXbCo1dYKNceoxUC7rKMjZw" target="_blank"><img class="logo-c mt-5 mb-5" src="{% static 'images/zzz.jpg' %}"></a>
            </div>
        </div>
        <div id="style" class="row section">
            <div class="col-md-8 offset-md-2">
                <h3 class="mt-5 section-title">Style</h3>
                <hr class="hr" />
                <div class="about-detail text-center">
                    <p>
                        I will use my most recent arrangement, Pelican Wish composed by Kana as a reference
                    </p>
                    <img class="music-ex mt-5" src="{% static 'images/note-ex1.png' %}">
                    <p>
                        I usually opened up with something slow, even though the original<br/>
                        doesn’t. I like to use a span of 10th or more for the left hand because<br/>
                        it creates a dreamy feel like you’re going to start on a journey<br/>
                    </p>
                    <img class="music-ex mt-5" src="{% static 'images/note-ex2.png' %}">
                    <p>
                        On the verse, I use a lot of polyphony. James Chou and zzz use a lot of these and<br/>
                        I’m still learning on how to do it properly. For the 1st verse I only use polyphony on the<br/>
                        2nd section, usually with 3 voices while on the 2nd verse I use up to 4 voices.<br/>
                    </p>
                    <img class="music-ex ml-auto mt-5" src="{% static 'images/note-ex3.png' %}">
                    <p>
                        On the chorus, I use simple but grandoise chords to accompany the melody.<br/>
                        I usually use octaves or 4 block chords for the melody.<br/>
                    </p>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#sw_link').click(function(e) {
                    e.preventDefault();

                    $('html, body').animate({
                    scrollTop: $('#sw').offset().top
                    }, 500);
                });
                $('#ins_link').click(function(e) {
                    e.preventDefault();

                    $('html, body').animate({
                    scrollTop: $('#ins').offset().top
                    }, 500);
                });
                $('#style_link').click(function(e) {
                    e.preventDefault();

                    $('html, body').animate({
                    scrollTop: $('#style').offset().top
                    }, 500);
                });
            });
        </script>
    </div>
</body>
</html>