<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/ppw.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FadhilP Skills</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="exp">
            <div id="exp" class="row section">
                <div class="col-md-6 offset-md-3">
                    <h3 class="mt-5 section-title">Experience and Skills</h3>
                    <hr class="hr"/>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-3 offset-md-1 my-auto">
                    <img class="logo" src="{% static 'images/ristek_logo.png' %}">
                </div>
                <div class="col-md-4 my-auto">
                    <p>RISTEK Game Development SIG</p>
                </div>
            </div>

            <div class="row section">
                <div class="col-md-3 offset-md-1 my-auto">
                        <img class="logo" src="{% static 'images/unity_logo.png' %}">
                    </div>
                <div class="col-md-4 my-auto">
                    <p>Unity game Engine</p>
                </div>
            </div>

            <div class="row section">
                <div class="col-md-3 offset-md-1 my-auto">
                    <img class="logo" src="{% static 'images/java_logo.png' %}">
                </div>
                <div class="col-md-4 my-auto">
                    <p>Finished basic course on Java</p>
                </div>
            </div>
        
            <div class="row section">
                <div class="col-md-3 offset-md-1 my-auto">
                        <img class="logo" src="{% static 'images/python_logo.png' %}">
                    </div>
                <div class="col-md-4 my-auto">
                    <p>Finished basic course on Python</p>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
    {% endblock %}
</body>
</html>