<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/ppw.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Jadwal</title>
</head>
<body>
    {% block content %}
    <div class="jadwal-section">
        <form class="site-form" action="" method="post">
            {% csrf_token %}
            <p>Title: {{ form.title }} </p>
            <!-- {{ form.date_time }} -->
            <p>Place: {{ form.place }}</p>
            <p>Category: {{ form.category }}</p>
            <p>Date: {{ form.date }}</p>
            <p>Time: {{ form.time }}</p>
            <p>Description: {{ form.description }}</p>
            <input class="butt" type="submit" value="Add"/>
        </form>
        <div class="semua-jadwal">
            {% for schedule in schedules %}
            <div class="jadwal">
                <div class="info-jadwal">
                    <p>Title: {{ schedule.title }}</p>
                    <p>Place: {{ schedule.place }}</p>
                    <p>Category: {{ schedule.category }}</p>
                    <p>Day: {{ schedule.day }}</p>
                    <p>Date: {{ schedule.date }}</p>
                    <p>Time: {{ schedule.time }}</p>
                    <p>Description: {{ schedule.description }}</p>
                </div>
                <a href="{% url 'homepage:schedule_delete' id=schedule.id %}"><button>Delete</button></a>
            </div>

            {% endfor %}
        </div>
        
    </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
    {% endblock %}
</body>
</html>